#inputInfo {
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: .5rem;
    margin-bottom: 1rem;
}

#squareGrid {
    background-color: #EEE9DA;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(4, 1fr);
    width: min-content;
    margin: auto;
    padding: .5rem;
    
}

.box {
    background-color: #BDCDD6;
    border: solid #93BFCF;
    border-radius: 5%;
    width: 2rem;
    height: 2rem;   
}

.boxHover {
    background-color: #00324d;
} 
